$admin-button-color: #007bff;
$admin-button-hover: darken($admin-button-color, 10%);

.admin-container {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

.admin-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.admin-list {
    list-style-type: none;
    padding: 0;
}

.admin-list-item {
    margin-bottom: 20px;
    font-size: 18px;
}

.admin-select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:hover {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
}

.admin-button {
    padding: 10px 20px;
    background-color: $admin-button-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: $admin-button-hover;
    }
}
.back-button {
    padding: 10px 15px;
    background-color: #f44336; // Red color for emphasis
    color: white; // White text for contrast
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: darken(#f44336, 10%); // Darken on hover
        color: #fff;
    }

    &:focus {
        outline: none;
    }
}
