// colors done by adobe, variables, we can use for other parts

$nav-background-color: rgba(
    #f8f8f7,
    0.7
); // we can adjust the "blur" effect by opacity
$nav-text-color: #333;
$nav-hover-color: #ccc;
$nav-border-color: #e5e5e5;
$nav-logo-size: 36px;

.left-panel-container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; // please adjust carefully, especially with modal window!
    display: flex;
    align-items: center;
    background-color: $nav-background-color;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); // just for a Safari
    border-bottom: 1px solid $nav-border-color;
    padding: 10px 20px;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    .logo {
        height: $nav-logo-size;
        margin-right: 20px;
        border-radius: 50%;
        object-fit: cover;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .nav-links,
        .nav-actions {
            display: flex;
            align-items: center;

            a,
            button {
                color: $nav-text-color;
                text-decoration: none;
                padding: 10px 15px;
                font-size: 14px;
                font-weight: 400;
                margin: 0 10px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                border-radius: 10px;
                transition: background-color 0.3s, color 0.3s;

                &:hover {
                    background-color: $nav-hover-color;
                    border-radius: 10px;
                    color: #000;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .sidenav__arrow {
        // You may use Feather icons for the arrow
    }
}

body {
    padding-top: 60px; // Should be equal to or greater than the height of the navbar!! Avoid stucking under the nav
}
