.register-container {
    background-color: rgba(97, 176, 210, 0.871);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-width: 60%;
    max-height: 70%;
    border-radius: 15px;
    padding: 30px;
    margin: 0;
    box-sizing: border-box;
    overflow-y: auto;
}

#success-message {
    color: rgb(246, 243, 243);
    font-family: "Segoe UI";
    font-size: 12px;
    margin: 0 auto;
    line-height: 1.2;
    width: auto;
    text-align: center;
}

.input-field-createPin,
#severity_id {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.create-pin-title {
    font-size: xx-large;
}
