.register-container {
    background-color: "rgba(97, 176, 210, 0.7)";
    border-radius: "5px";
    padding: "20px";
}

.success-message {
    font-size: "small";
    color: rgb(246, 243, 243);
    font-family: "Segoe UI";
    font-size: 12px;
}
