.register-container {
    background-color: "rgba(97, 176, 210, 0.7)";
    border-radius: "5px";
    padding: "20px";
}

.success-message {
    font-size: "small";
    color: rgb(246, 243, 243);
    font-family: "Segoe UI";
    font-size: 12px;
}

.input-field-createPin {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
}

#severity_id {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.create-pin-title {
    font-size: xx-large;
}
