.adjacent-rectangle {
    position: fixed;
    border-radius: 25px;
    top: 100px;
    left: 350px;
    z-index: 11;
    width: 200px;
    height: 230px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    transform: translateX(-100%);
}

.adjacent-rectangle-visible {
    transform: translateX(0);
}
