$nav-text-color: #333;

.sidenav {
    position: fixed;
    z-index: 10; // higher than the map !!!
    top: 100px;
    left: 20px;
    height: 250px;
    width: 10%;
    background-color: rgba(97, 176, 210, 0.6);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    color: $nav-text-color;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease-in-out;
}

.sidenav__content {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    overflow: hidden;
}

.sidenav__link {
    height: 2rem;
    text-decoration: none;
    color: black;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    &:hover {
        background-color: darken(rgba(97, 176, 210, 0.6), 10%);
    }
}

.sidenav__image {
    width: 5rem;
    padding: 0.5rem 0;
    margin: 0 auto;
    border-radius: 50%;
}

.sidenav__arrow {
    width: 1.5rem;
    border-radius: 0px 12px 12px 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -1.5rem;
    top: 1rem;
    background-color: red;
    cursor: pointer;
    &:hover {
        background-color: darken(red, 10%);
    }
    &::after {
        content: "<";
    }
    &_closed {
        &::after {
            content: ">";
        }
    }
}

.sidenav_closed {
    width: 0px;
}
