$nav-text-color: #333;

.sidenav {
    position: fixed;
    border-radius: 25px;
    z-index: 10; // Higher than the map
    top: 100px;
    left: 20px;
    height: 255px;
    width: 50px;
    background-color: rgba(97, 176, 210, 0.6);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    color: $nav-text-color;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: width 0.4s ease-in-out;
    overflow: hidden;
}

.sidenav__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sidenav__logo {
    width: 3rem;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.sidenav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 100%;
    color: #fff;
    white-space: nowrap;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: darken(rgba(97, 176, 210, 0.6), 10%);
    }
    &.active {
        background-color: rgba(97, 176, 210, 0.9);
    }
    span {
        margin-left: 10px;
        display: none;
    }
}

.sidenav_expanded {
    width: 130px;

    .sidenav__link {
        justify-content: flex-start;
        padding-left: 1rem;
        opacity: 1;

        span {
            display: inline;
            text-transform: uppercase;
        }
    }
}

.sidenav_closed {
    .sidenav__link {
        justify-content: center;

        span {
            display: none;
        }
    }
}
